.square-input {
    width: 40px;
    height: 40px;
    text-align: center;
    border: none;
    outline-width: 0px;
    color: black;
    font-weight: 800;
    background-color: #EAE7DC;
}
.square-input:focus {
    background-color: #A2A3BB;
}

.square-cell {
    padding: 0;
    border: solid 1px #c0c3c7;
}

.inPlay {
    background-color: #DDDBCB;
}

.grid-border-left {
    border-left: solid 2px black; 
}
.grid-border-right {
    border-right: solid 2px black;
}
.grid-border-top {
    border-top: solid 2px black;
}
.grid-border-bottom {
    border-bottom: solid 2px black;
}
