.checkout__form__container {
  width: 400px;
  text-align: center;
}

.submit-button-stripe {
  margin-top: 20px;
  border: 1px solid #8E8D8A;
  outline: none;
  border-radius: 5px;
  height: 50px;
  font-size: 20px;
  color: #E85A4F;
  background-color: #EAE7DC;
}

.submit-button-stripe:hover {
  background-color: #bbb9b0;
}