.info-box {
  flex: 1;
}
.info-item {
  margin: 15px 1px;
}
.drop-down {
  border: solid 1px #8E8D9B;
  position: relative;
  display: inline;
}
.drop-down-selection {
  width: 150px;
  left: 0px;
  padding: 0px;
  background-color: #EAe7dc;
  color: #E85A4F;
  border: none;
  text-align: center;
}
.drop-down-selection:hover {
  background-color: #bbb9b0;
}

.drop-down-content {
  display: none;
  position: absolute;
  left: 0px;
  z-index: 1;
}
.drop-down-content button {
  display: block;
  width: 150px;
}

.option {
  padding: 3px;
  border: none;
  background-color: #EAe7dc;
  color: #E85A4F;
}
.option:hover {
  background-color: #bbb9b0;
}
.toggle {
  display: inline;
  position: relative;
}
.drop-down:hover .drop-down-content {
  display: block;
}
.label {
  margin-right: 10px;
  color: #8e8d8a;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .info-item {
    text-align: center;
  }
  .toggle {
    display: inline-block;
  }
}

