.leaderboard__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.leaderboard__container .header__container {
  flex-grow: 1;
  text-align: center;
  margin: 30px 10px;
}
.leaderboard-header {
  color: #ffffff;
}

.leaderboard-subtitle {
  color: #bf9949;
  font-size: 16px;
}

.loader-placement .loader__container{
  position: unset;
}

.loader-placement > .loader__container > .loader {
  bottom: 0px;
}
.leaderboard-table__container {
  width: 100%;
}
.leaderboard-table__container table {
  width: 100%;
  padding: 10px;
  text-align: left;
  border-collapse: collapse;
}
.leaderboard-table__container .search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #bf9949;
  border-radius: 10px;
  margin: 0px 5px;
}
.search-title {
  flex-grow: 2;
  color: #ffffff;
}
.search-bar {
  flex-grow: 1;
}

.search-bar input {
  padding: 10px;
  width: 100%;
  border: solid 1px black;
  border-radius: 5px;
  outline: none;
}

.leaderboard-table thead tr th {
  font-weight: bold;
  padding: 15px;
}
.leaderboard-table tbody tr td {
  padding: 15px;
}
.leaderboard-table tbody tr {
  border-top: 2px solid #d3d0c6;
  border-bottom: 2px solid #d3d0c6;
  background-color: #1b1b1b;
}
.leaderboard-table tbody tr:hover {
  background-color: #bbb9b0;
}

.leaderboard-table tbody tr:nth-of-type(1){
  font-weight: bold;
  color: #bf9949;
}

.leaderboard-table tbody tr td:nth-of-type(3) {
  font-weight: bold;
}