.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.list-item {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  margin-right: 15px;
  margin-top: 5px;
  padding: 7px 20px;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  position: relative;
}
.nav-link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.nav-link:hover:before {
  visibility: visible;
  width: 100%;
}

.selected {
  font-weight: 800;
  color: #bf9949;
}

@media screen and (max-width: 600px) {
  .nav-link {
    font-size: 14px;
  }
}