.profile-card {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
}
.image-container {
  position: relative;
}
.image-upload {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 1;
  top: -50px;
  left: 150px;
}
.image-upload > input {
  display: none;
}
.image-container img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.top-card {
  width: 400px;
  height: 100px;
  background-color: #E85A4F;
}

.card-content {
  width: 400px;
  height: 500px;
  background-color: white;
  padding-top: 100px;
  text-align: center;
}

.contact-details {
  display: flex;
  flex-direction: row;
  background-color: #E85A4F;
  justify-content: center;
}


