.signup-container {
  width: 380px;
  padding: 30px;
  margin-top: 30px;
  background-color: #ffffff;
  border: 2px solid #bf9949;
  box-sizing: border-box;
}

.header {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: inherit;
}
.signup-header {
  margin-bottom: 20px;
  font-size: 24px;
  color: black;
}
.signup-subtitle {
  margin: 0;
  color: #bf9949;
  font-size: 14px;
}
.signup-subtitle-second {
 color: #bbbbb9;
 font-weight: 800;
}
.signup-form {
  box-sizing: inherit;
}

.signup-field {
  display: block;
  width: 320px;
  height: 34px;
  margin: 10px 0px;
  border-radius: 2px;
  border: solid 1px;
  outline: none;
  padding: 0 0 0 10px;
  font-size: 14px;
  box-sizing: inherit;
  font-family: open-sans, sans-serif
}
.signup-field:focus {
  border: 1px solid #bf9949;
}

.submit-button-container {
  margin-top: 30px;
  text-align: center;
}
.error-container {
  margin-top: 30px;
  text-align: center;
  color: red;
}
.submit-button-signup {
  width: 320px;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  color: #ffffff;
  background-color: #bf9949;
  height: 40px;
  border: none;
}

.signup-label {
  color: black;
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
}
.error-field {
  color: red;
  font-size: 12px;
}

.signup-button-text {
  padding-left: 10px;
  font-family: open-sans, sans-serif;
}

@media screen and (max-width: 720px) {
  .signup-container {
    width: 300px;
    margin-bottom: 10px;
  }
  .signup-field {
    width: 240px;
  }
  .submit-button-signup {
    width: 240px;
  }
}
