.header {
  text-align: center;
}

.field {
  display: block;
  width: 100%;
  margin: 10px 0px;
  border-radius: 5px;
  padding: 5px 0px;
  border: solid 1px;
  padding: 5px;
}

.form-container {
  border-radius: 10px;
  background-color: blanchedalmond;
  padding: 20px;
}

.submit-button {
  width: 500px;
  padding: 5px;
  cursor: pointer;
}