.header {
  text-align: center;
  margin-top: 50px;
  width: 100%;
}
.signup-header {
  color: #E85A4F;
}
.signup-subtitle {
  color: #8E8D8A;

}
.signup-subtitle-second {
 color: #bbbbb9;
 font-weight: 800;
}

.field {
  display: block;
  width: 100%;
  margin: 10px 0px;
  border-radius: 5px;
  padding: 7.5px 5px;
  border: solid 1px;
  background-color: #EAE7DC;
  font-weight: bold;
  outline: none;
  border-color: #bbbbb9;
}
.field:focus {
  border-color: #E85A4F;
}

.form-container {
  border-radius: 10px;
  border: 1px solid #E85A4F;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
}
.form-container form {
  
}

.submit-button-container {
  margin-top: 30px;
  text-align: center;
}
.error-container {
  text-align: center;
  color: #E85A4F;
}
.submit-button {
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  color: #E85A4F;
  background-color: #bbbbb9;
}

.label {
  font-weight: 700;
  color: black;
}
@media screen and (max-width: 600px) {
  .form-container {
    width: 350px;
    margin-bottom: 10px;
  }
  .signup-header {
    font-size: 24px;
  }
  .signup-subtitle {
    font-size: 20px;
  }
  .signup-subtitle-second {
    font-size: 16px;
  }
}