
.app-container {
  text-align: justify;
}
.button-container {
  margin-top: 30px;
  margin-bottom: 20px;

}
.button {
  background-color: #EAE7DC;
  text-align: center;
  text-decoration: none;
  color: #e98074;
  border: solid 1px black;
  padding: 5px 10px;
  margin-right: 5px;
}

.button:hover {
  background-color: #bbb9b0;
}

